---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allPosts = await getCollection("blog");
---

<Layout title="Home of Martin Høst Normark">
  <h1>Home of Martin Høst Normark</h1>
</Layout>
